*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;

}

body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  margin:0 auto ;
  max-width: 1600px;
}
@media (max-width: 576px) {
  .menupart{
    display: none;
  }
}
@media (min-width: 577px) and (max-width: 992px) {
  .menupart{
    display: flex;
  }
  .hamburger{
    display: none;
  }
}
@media (min-width: 993px) {
  .menupart{
    display: flex;
  }
}
